
.navbar_main {
    background-color: #764abc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar_main > h1 {
    padding-left: 40px;
    font-size: 40px;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
}

.nav_links {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-left: 0;
}

.nav_links > li {
    list-style: none;
}

.refresh_button {
    padding-inline: 20px;
}